.character {
  height: 16px;
  width: 16px;
  image-rendering: pixelated;
  background-image: url("../../../assets/nackter-mann-sprite.png");
  background-repeat: no-repeat;
//   background-size: -16px -32px;
}
