.game-field {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("../../../assets/Background-400.png");
}

// .character {
// width: 48px; /* Breite eines Frames */
// height: 64px; /* Höhe eines Frames */
// background-image: url('/assets/your-sprite-sheet.png');
// background-repeat: no-repeat;
// }

.character {
  position: absolute;
  height: 16px;
  width: 16px;
  image-rendering: pixelated;
  background-image: url("../../../assets/default_char.png");
  background-repeat: no-repeat;
  transform: scale(4);
}

.keyboard {
  // height: auto;
  // width: auto;
  position: absolute;
  image-rendering: pixelated;
  background-image: url("../../../assets/WSAD.png");
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // margin: 20px;
}
